html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.splash__card {
  max-width: 50%;
  background-color: #f1f1f1;
  text-align: center;
  padding: 15px;
  border-radius: 4px;
}

@media only screen and (max-width: 700px) {
  .splash__card {
    max-width: 88%;
  }
}

.splash__button {
  padding: 20px 30px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 4px;
}

.splash__img {
  max-width: 100%;
  display: block;
  height: 160px;
  margin: 20px auto;
}
